# Git Auxiliary Files #
#######################
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.nav
*.snm
*.synctex.gz

# Images #
##########
*.-eps-converted-to.pdf
# Add the images folder when the binaries of the figures are ready